@model Library.Models.ViewModels.Book
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Return Book";
}
<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-4 text-right">
            <a type="submit" class="btn btn-primary form-control" asp-area="Reader" asp-controller="User" asp-action="Logout">Logout</a>
            <p>@User.FindFirst("names").Value</p>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="BookName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Bookid">Return</button>
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success form-control"> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{

    <script src="~/js/return.js"></script>

}